/*
Übung, Vorlesung Schriftmuster
Enno Hyttrek
ehy.training@gmail.com
Version 1.0
*/


/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Layout
*/

h1,h2,h3,h4,h5,h6,p,ul,li {
    margin-bottom: 1em;
    padding: 0 20px;
}

header,
footer,
main {
    padding: 1em 0;
}


/*
Typography
*/

body {
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
}


h1,
h2 {
    5em;
}

h3 {
    2.1em
}

h4 {
    1em
}

h2 {
    font-weight: 100;
}

.alphabet {
    font-size: 4vw;
}

.alphabet.thin {
    font-weight: 100;
}

.alphabet.regular {
    font-weight: 300;
}

.alphabet.bold {
    font-weight: 700;
}


/*
Color & Style
*/

body {
    background: hsl(200,13%,34%);
    color: #fff;
}

main {
    background: #fff;
    color: #000;
}